@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    font-family: 'Ubuntu';
    margin: 0;   
    padding: 0; 
}

/* HEADER */
header .menu-header{
    display: flex;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
}

header .logo-header, .menu-header{
    padding: 10px 40px;
}


header .menu-header ul li{
    display: inline;
    padding: 20px;
    list-style: none;
}

header .menu-header ul li a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* FOOTER */
footer{
    display: flex;
    background-color: #2E948A;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 40px 10px;
    flex-wrap: wrap;
}

footer .menu-footer ul, .links-footer ul{
    list-style: none;
}

footer .menu-footer ul li{
    margin: 10px auto;
}

footer .menu-footer ul li a{
    text-decoration: none;
    color: #FFF;
}

footer .links-footer ul li{
    margin: 20px auto;
    border: 2px solid #FFF;
    border-radius: 20px;
    text-align: center;
    padding: 10px 40px;
}

footer .links-footer ul li a{
    text-decoration: none;    
    color: #FFF;       
}

/* INICIO/INDEX */
.main-inicio{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.main-inicio section{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.banner-inicio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5% auto;
}

.titulo-banner-inicio{
    color: #FF4081;
    font-weight: bold;
    font-size: 60px;
    padding: 10px 20px;
}

.subtitulo-banner-inicio{
    color: #555555;
    font-size: 27px;
    padding: 20px 20px 40px 20px;
}

.banner-inicio div a{
    border: 2px solid #FF4081;
    color: #FF4081;
    font-size: 27px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: 20px;    
}

.comecar-agora-inicio-nav{
    width: 100%;
    background-color: #F7F7F7;
}

.comecar-agora-inicio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;    
    padding: 5% 0%;
}

.card-comecar{
    max-width: 344px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.card-comecar h3{
    font-size: 25px;
    color: #FF4081;
    padding: 20px;    
}

.card-comecar p{
    font-size: 17px;
    color: #000;
    padding: 0 0 20px 0;
}

.card-comecar a{
    font-size: 20px;
    color: #FFF;
    background-color: #FF4081;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
}

.falam-inicio{
    display: flex;
    flex-flow: column;
    
}

.falam-inicio-box{
    margin: 5%;
}

.falam-inicio h2{
    color: #009688;
    font-size: 37px;
    padding: 0px 0px 40px 0px;
}

.falam-inicio section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 50px;
}

.card-falam{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 610px;    
}

.card-falam div, p{
    margin: 10px;
    font-size: 18px;
}

.card-falam-user{
    font-weight: bold;
}

.mais-inicio{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #F7F7F7;
    align-items: unset;
    
    
}

.mais-inicio-box{
    margin: 5%;
}

.mais-inicio h2{
    color: #009688;
    font-size: 37px;
    padding: 0px 0px 40px 0px;
}

.mais-inicio nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card-mais{
    display: flex;
    flex-flow: column nowrap;
    max-width: 319px;
    text-decoration: none;
}

.card-mais p{
    font-size: 18px;
    text-decoration: none ;
    color: #000000;
}

.card-mais p titulo{
    font-weight: bold;
    text-decoration: none ;
    color: #009688;
}

/* CURSOS */
.main-cursos{
    width: 100%;
    margin: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.main-cursos h1{
    color: #FF4081;
    font-size: 60px;
    font-weight: bold;
    text-transform: capitalize;
}
.main-cursos p{
    color: #555555;
    font-size: 20px;

}

.main-cursos section{
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    margin-top: 5%;
}

.linha-div{
    width: 100%;
    height: 5px;
    background-color: #C4C4C4;
    margin: 5% auto;
}

.card-cursos{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}

.card-cursos img{
    width: 50%;
    max-width: 380px;
}

.card-cursos div{
    width: 50%;
}

.card-cursos div h3{
    color: #FF4081;
    font-size: 35px;
    font-weight: bold;
}

.card-cursos div p{
    color: #000000;
    font-size: 18px;
    margin: 5% auto;
}

.card-cursos-comecar-agora{
    color: #FFF;
    text-decoration: none;
    background-color: #419488;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
}

/* CURSO */
.main-curso{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.curso-banner{
    width: 90%;
    margin: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.curso-banner-left{
    width: 50%;
    max-width: 512px;
}

.curso-banner-left h1{
    color: #FF4081;
    font-size: 55px;
    font-weight: bold;
}

.curso-banner-left p{
    color: #000000;
    font-size: 20px;    
}

.curso-banner-right{
    width: 50%;
    max-width: 380px;
    height: 381px;
    background-image: url(../images/ilustra-poupando.png);
}

.main-curso section{
    width: 100%;
    background-color: #F7F7F7;
}

.main-curso section nav{
    width: 90%;
    background-color: #F7F7F7;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.curso-card-aula{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

        /* .curso-card-aula iframe{

            
        } */

.curso-card-aula div{
    margin-left: 5%;
    width: 50%;
}

.curso-card-aula div h3{
    color: #FF4081;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.curso-card-aula div p{
    margin: 0;
    color: #000000;
    font-size: 20px;
}

/* CONTATO */
.main-contato{
    width: 100%;
}

.main-contato section{
    width: 100%;
    margin: auto auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.contato-form{
    text-align: left;
    width: 100%;
    margin: 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 493px;
}

.contato-form h1{
    color: #FF4081;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.contato-form input{
    background: #FFFFFF;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 10px 0px;
    width: 100%;
}

.contato-form textarea{    
    background: #FFFFFF;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 10px 0px;
    width: 100%;
    min-height: 160px;
    max-height: 193px;
}

.contato-form button{   
    color: #FFF;
    font-weight: bold;
    background: #FF4081;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 10px 0px;
}

.contato-banner-lateral{
    width: 100%;
    max-width: 444px;
    height: 444px;
    background-image: url(../images/ilustra-contato.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* BLOG */
.main-blog{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

.banner-blog{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
}

.banner-blog-left{
    width: 60%;
    max-width: 512px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.banner-blog-left .titulo-banner-blog{
    color: #009688;
    font-size: 47px;
    font-weight: bold;

}

.banner-blog-left .subtitulo-banner-blog{
    color: #000000;
    font-size: 20px;
}

.banner-blog-right{
    height: 405px;
    width: 40%;
    max-width: 405px;
    background-image: url(../images/ilustra-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-blog section{
    width: 100%;
    background-color: #F7F7F7;
    
}

.main-blog section nav{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto auto;
    gap: 5%;
    margin: 5% auto;
}

.main-blog section nav a{
    text-decoration: none;
}

.card-blog{
    max-width: 518px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0px;
}

.card-blog h3{
    color: #FF4081;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    
}

.card-blog p{
    color: #000000;
    font-size: 17px;
}

/* POST */
.main-post section{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;    
}

.main-post section article{
    width: 90%;
    max-width: 1032px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.main-post section article h1{
    color: #FF4081;
    font-size: 48px;
    font-weight: bold;
}

.main-post section article span{
    color: #9D9D9D;
    font-size: 18px;
    padding: 10px 0px;
}

.main-post section article img{
    margin-top: 50px;
    width: 100%;
}

.main-post section article p{
    font-size: 18px;
    color: #000000;
}

.main-post section article p titulo{
    font-size: 26px;
    color: #009688;
    font-weight: bold;
}